[Unit]
Description=inotify directories for fast remote file copy program
After=rsync.service

[Service]
Type=simple
ExecStart=rsyncm.sh
ExecStop=pkill rsyncm.sh
ExecReload=on-abort


[Install]
WantedBy=multi-user.target
