[submodule "conf/zsh/oh-my-zsh"]
	path = conf/zsh/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
	master = master
[submodule "conf/emacs/.spacemacs.d/layer/journal"]
	path = conf/emacs/.spacemacs.d/layer/journal
	url = https://github.com/borgnix/spacemacs-journal
	master = master
[submodule "conf/tmux/.tmux/plugins/tpm"]
	path = conf/tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
	master = master
[submodule "conf/tmux/.tmux/plugins/tmux-sensible"]
	path = conf/tmux/.tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
	master = master
[submodule "conf/tmux/.tmux/plugins/tmux-themepack"]
	path = conf/tmux/.tmux/plugins/tmux-themepack
	url = https://github.com/jimeh/tmux-themepack
	master = master
[submodule "conf/emacs/.emacs.d"]
	path = conf/emacs/.emacs.d
	url = https://github.com/syl20bnr/spacemacs
	develop = upstream/develop
[submodule "conf/zsh/omz_custom/plugins/zsh-autosuggestions"]
	path = conf/zsh/omz_custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "conf/zsh/omz_custom/plugins/zsh-syntax-highlighting"]
	path = conf/zsh/omz_custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "conf/emacs/.emacs.d/"]
	url = https://github.com/syl20bnr/spacemacs.git
[submodule "workflows/Ariafred"]
	path = workflows/Ariafred
	url = https://github.com/Wildog/Ariafred.git
[submodule "conf/vim/.vim/plugged/coc.nvim"]
	path = conf/vim/.vim/plugged/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "conf/vim/.vim/plugged/deoplete.nvim"]
	path = conf/vim/.vim/plugged/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "conf/vim/.vim/plugged/fzf.vim"]
	path = conf/vim/.vim/plugged/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "conf/vim/.vim/plugged/nerdtree"]
	path = conf/vim/.vim/plugged/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "conf/vim/.vim/plugged/nvim-yarp"]
	path = conf/vim/.vim/plugged/nvim-yarp
	url = https://github.com/roxma/nvim-yarp.git
[submodule "conf/vim/.vim/plugged/tabular"]
	path = conf/vim/.vim/plugged/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "conf/vim/.vim/plugged/ultisnips"]
	path = conf/vim/.vim/plugged/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "conf/vim/.vim/plugged/vim-clang-format"]
	path = conf/vim/.vim/plugged/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format.git
[submodule "conf/vim/.vim/plugged/vim-commentary"]
	path = conf/vim/.vim/plugged/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "conf/vim/.vim/plugged/vim-gitgutter"]
	path = conf/vim/.vim/plugged/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "conf/vim/.vim/plugged/vim-go"]
	path = conf/vim/.vim/plugged/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "conf/vim/.vim/plugged/vim-hug-neovim-rpc"]
	path = conf/vim/.vim/plugged/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc.git
[submodule "conf/vim/.vim/plugged/vim-markdown"]
	path = conf/vim/.vim/plugged/vim-markdown
	url = https://github.com/preservim/vim-markdown.git
[submodule "conf/vim/.vim/plugged/vim-operator-user"]
	path = conf/vim/.vim/plugged/vim-operator-user
	url = https://github.com/kana/vim-operator-user.git
[submodule "conf/vim/.vim/plugged/vim-snippets"]
	path = conf/vim/.vim/plugged/vim-snippets
	url = https://github.com/honza/vim-snippets.git
