[submodule "conf/zsh/oh-my-zsh"]
	path = conf/zsh/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
	branch = master
[submodule "conf/emacs/.spacemacs.d/layer/journal"]
	path = conf/emacs/.spacemacs.d/layer/journal
	url = https://github.com/borgnix/spacemacs-journal
	branch = master
[submodule "conf/emacs/.emacs.d"]
	path = conf/emacs/.emacs.d
	url = https://github.com/syl20bnr/spacemacs
	branch = develop
[submodule "conf/zsh/omz_custom/plugins/zsh-autosuggestions"]
	path = conf/zsh/omz_custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "conf/zsh/omz_custom/plugins/zsh-syntax-highlighting"]
	path = conf/zsh/omz_custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "conf/emacs/.emacs.d/"]
	url = https://github.com/syl20bnr/spacemacs.git
[submodule "workflows/Ariafred"]
	path = workflows/Ariafred
	url = https://github.com/Wildog/Ariafred.git
[submodule "conf/zsh/.fzf"]
	path = conf/zsh/.fzf
	url = https://github.com/junegunn/fzf.git
