[Unit]
Description=Generate DHCP networking demo for netplan
Before=network-online.target

[Service]
ExecStart=/etc/netplan/gen_netplan_config.sh

[Install]
WantedBy=multi-user.target


