[Unit] 
Description=inotify directories for fast remote file copy program
After=rsync.service

[Service]
ExecStart=rsyncm.sh 2>&1 >/dev/null; 
ExecStop=pkill rsyncm.sh
ExecReload=kill -HUP $MAINPID


[Install]
WantedBy=multi-user.target
